/ArabicMorph.ipynb
/arabicmorph.xlsx
/arabic_nouns_dataset.csv
/arabic_verbs_dataset.csv
/arabic_verb_forms_cleaned.csv
/arabic_verb_model.h5
/arramooz-master
/best_model.keras
/fiil_prediction_model.h5
/Hasil Generate Unique 2.xlsx.zip
/updated_arabic_dataset.csv
/updated_arabic_dataset2.csv